body {
    font-family: 'Hanken Grotesk', sans-serif;
}

.background {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.dark-gray-blue {
    color: hsl(224, 30%, 27%);
}

.dark-gray-blue-bg {
    background-color: hsl(224, 30%, 27%);
}